@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 252;
  font-family: var(--font-inter);
}

.dark {
  --foreground-rgb: 255, 255, 252;
  --background-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1,
h2,
h3 {
  font-family: var(--font-league);
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}